body {
    font-family: Arial;
    background: #f4f6f9;
}

.container {
    width: 300px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
}

input, button, select {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
}

button {
    background: #1f3c88;
    color: white;
    border: none;
}

.error {
    color: red;
    text-align: center;
}

.success {
    color: green;
    text-align: center;
}
