<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
    <h2>Dashboard</h2>

    <form action="/attendance" method="get">
        <button type="submit">Student Attendance</button>
    </form>

    <form action="/" method="get">
        <button type="submit">Logout</button>
    </form>
</div>

</body>
</html>
