<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>

    <div class="container">
        <h2><i class="fas fa-tachometer-alt"></i> Dashboard</h2>

        <form action="/attendance" method="get">
            <button type="submit"><i class="fas fa-clipboard-list"></i> Student Attendance</button>
        </form>

        <form action="/" method="get">
            <button type="submit" style="background: linear-gradient(to right, #e74c3c, #c0392b);"><i
                    class="fas fa-sign-out-alt"></i> Logout</button>
        </form>
    </div>

</body>

</html>